/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*############################
Custom Variables
##############################*/
:root {
  --ff-redhatdisplay: 'Red Hat Display', Helvetica, Arial, sans-serif;
  --clr-blue-neutral: hsl(225, 100%, 98%);
  --clr-blue-pale: hsl(225, 100%, 94%);
  --clr-blue-desaturated: hsl(224, 23%, 55%);
  --clr-blue-bright: hsl(245, 75%, 52%);
  --clr-blue-dark: hsl(223, 47%, 23%);
}


/*############################
General Styles + Layout
##############################*/
body {
  font-family: var(--ff-redhatdisplay);
  font-weight: 500;

  background-position: 100% 00%;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--clr-blue-pale);
  
  /* Vertically & horizontally center the main wrapper */
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 1.5rem;
}

/* Adjust the background-image for desktop / mobile */
@media only screen and (min-width: 769px) {
  body {
    background-image: url('../images/pattern-background-desktop.svg');
  }
}
@media only screen and (max-width: 768px) {
  body {
    background-image: url('../images/pattern-background-mobile.svg');
  }  
}

img {
  max-width: 100%;
  max-height: 100%;
}


/*############################
Font Styling
##############################*/

h1 {
  font-size: 1.70rem;
  font-weight: 900;
  color: var(--clr-blue-dark);

  padding-bottom: 15px;
}

p {
  font-size: 1rem;
  color: var(--clr-blue-desaturated);
  line-height: 1.5;
}

p.order__item__name {
  color: var(--clr-blue-dark);
  font-weight: 900;
}


/*############################
Spacing & Layout for main content
##############################*/

.order__wrapper {
  max-width: 450px;
  background-color: white;
  border-radius: 18px;

  box-shadow: 0px 15px 25px -12px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 15px 25px -12px rgba(0,0,0,0.25);

  overflow: auto;
}

/* Using this border-radius in conjunction with overflow: auto (above) to allow the component to be scrollable on small heights,
while maintaining the desired border-radius look */
.order__banner {
  border-radius: 18px 18px 0 0;
}

/* Vertical paddings are different to account for secondary CTA padding */
.order__summary {
  padding: 35px 40px 30px 40px;
  text-align: center;
}

.order__blurb {
  margin: 0 auto;
  width: 90%;

  padding-bottom: 20px;
}

/* Wrapper class for the order item: img, name, pricing, and change button */
.order__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  background-color: var(--clr-blue-neutral);
  padding: 20px;
  border-radius: 10px;

  margin-bottom: 30px;
}

/* Using flexbox here to get the <img> and the .order__item__info to sit next to eachother */
.order__item__selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Wrapper class for the name and pricing. Using this so that those two elements stack next to the <img> */
.order__item__info {
  margin-left: 20px;
  text-align: left;
}

.order__item__change {
  background-color: transparent;
  border: none;
  color: var(--clr-blue-bright);
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

.order__item__change:hover, .order__item__change:focus {
  text-decoration: none;
  color: hsl(245, 83%, 68%);
}


/*############################
Button Styles
##############################*/

.cta {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;  
  font-size: 0.9375rem;
  font-weight: 700;
  letter-spacing: 0.025rem;
  cursor: pointer;
}

.primary-cta {
  background-color: var(--clr-blue-bright);
  color: white;
  margin-bottom: 10px;
  box-shadow: 0px 20px 30px -20px hsl(223, 47%, 23%);
  -webkit-box-shadow: 0px 20px 30px -20px hsl(223, 47%, 23%);
}
.primary-cta:hover, .primary-cta:focus {
  /* Color was not provided in style guide */
  background-color: hsl(245, 83%, 68%);
}

.secondary-cta {
  background-color: transparent;
  color: var(--clr-blue-desaturated);
}
.secondary-cta:hover, .secondary-cta:focus {
  color: var(--clr-blue-dark);
}


/*############################
Media Queries
##############################*/

@media only screen and (max-width: 600px) {
  /* Adjust width and padding for mobile */
  .order__wrapper {
    max-width: 330px;
  }  
  .order__summary {
    padding: 30px 25px 20px 25px;
  }
  .order__item__info {
    margin-left: 15px;
  }
  .order__blurb {
    padding-bottom: 25px;
  }

  /* Adjust font-sizes for mobile to better match design */
  html {
    font-size: 15px;
  }
}


/*############################
Attribution Styles
##############################*/
footer {
  position: absolute;
  width: 100%;
  bottom: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 11px;
  text-align: center;
}
footer .attribution a {
  color: hsl(228, 45%, 44%);
}